{% extends "base.html" %}
{% load staticfiles  %}

{% block content %}
<div class="row">
     {% if contact %}
     <div class="col-md-4" id="image">
            <div class="col-sm-10">
               <img  id="personImage" class="img-thumbnail" 
                    src="{% if contact.image %}
                         {{ contact.image.url }}
                    {% endif %}"
                    alt="Towel test photo">
            </div>
    </div>
  <div class="col-md-8" >
     <div class="col-md-5">
          <ul class="list-group">
               <li class="list-group-item"></li>
               <li class="list-group-item">Name: {{ contact.name }}</li>
               <li class="list-group-item">Last name: {{ contact.surname }}</li>
               <li class="list-group-item">Date of birth: {{ contact.date_of_birth }}</li>
               <li class="list-group-item">Bio: {{ contact.bio|safe }}</li>
          </ul>
     </div>      
     <div class="col-md-5">
          <ul class="list-group">
               <li class="list-group-item"><strong>Contacts</strong></li>
               <li class="list-group-item">Email: {{ contact.email }}</li>
               <li class="list-group-item">Jabber: {{ contact.jabber }}</li>
               <li class="list-group-item">Skype id: {{ contact.skype_id }}</li>
               <li class="list-group-item">Other contacts: {{ contact.other|safe }}</li>
          </ul>
     </div>
   </div>
</div> 
     <div class="row">
         <div class="col-md-7 col-md-offset-4">
         <hr style="width: 100%; color: black; height: 2px; background-color:black;" />
         </div>
     </div>
 <div class="row">
   <div class="col-md-3 col-md-offset-4">
        <a href="{% url 'hello:requests' %}">requests</a>
     </div>
 </div>

 {% else %}
   <p>Contact data no yet</p>
 {% endif %}
{% endblock content %}
