{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">
     <div class="col-md-5">
          <ul class="list-group">
               <li class="list-group-item"></li>
               <li class="list-group-item">Name: Aleksey</li>
               <li class="list-group-item">Last name: Voronov</li>
               <li class="list-group-item">Date of birth: 02.02.2016</li>
               <li class="list-group-item">Bio: I was born ...</li>
          </ul>
     </div>      
     <div class="col-md-5">
          <ul class="list-group">
               <li class="list-group-item"><strong>Contacts</strong></li>
               <li class="list-group-item">Email: aleks.woronow@yandex.ru</li>
               <li class="list-group-item">Jabber: leksw@42cc.co</li>
               <li class="list-group-item">Skype id: aleksey_woronov</li>
               <li class="list-group-item">Other contacts:</li>
          </ul>
     </div>

{% endblock content %}