{% extends "base.html" %}
{% load staticfiles %}

{% block title %}(10){% endblock title %}

{% block content %}
     <div class="col-md-12">
        <table id="request" class="table table-bordered">
            <caption>Requests</caption>
            <thead>
                <tr>
                    <th class="text-center">Path</th>
                    <th class="text-center">Method</th>
                    <th class="text-center">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="path text-center">/requests/</td>
                    <td class="text-center">GET</td>
                    <td class="text-center">2016-07-04T18:51:52.674Z</td>
                </tr>
                <tr>
                    <td class="path text-center">/requests/</td>
                    <td class="text-center">GET</td>
                    <td class="text-center">2016-07-04T18:51:52.674Z</td>
                </tr>
                <tr>
                    <td class="path text-center">/requests/</td>
                    <td class="text-center">GET</td>
                    <td class="text-center">2016-07-04T18:51:52.674Z</td>
                </tr>
                <tr>
                    <td class="path text-center">/requests/</td>
                    <td class="text-center">GET</td>
                    <td class="text-center">2016-07-04T18:51:52.674Z</td>
                </tr>
                <tr>
                    <td class="path text-center">/requests/</td>
                    <td class="text-center">GET</td>
                    <td class="text-center">2016-07-04T18:51:52.674Z</td>
                </tr>
                <tr>
                    <td class="path text-center">/requests/</td>
                    <td class="text-center">GET</td>
                    <td class="text-center">2016-07-04T18:51:52.674Z</td>
                </tr>
                <tr>
                    <td class="path text-center">/requests/</td>
                    <td class="text-center">GET</td>
                    <td class="text-center">2016-07-04T18:51:52.674Z</td>
                </tr>
                <tr>
                    <td class="path text-center">/requests/</td>
                    <td class="text-center">GET</td>
                    <td class="text-center">2016-07-04T18:51:52.674Z</td>
                </tr>
                <tr>
                    <td class="path text-center">/requests/</td>
                    <td class="text-center">GET</td>
                    <td class="text-center">2016-07-04T18:51:52.674Z</td>
                </tr>
                <tr>
                    <td class="path text-center">/requests/</td>
                    <td class="text-center">GET</td>
                    <td class="text-center">2016-07-04T18:51:52.674Z</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>   
{% endblock content %}

{% block script %}
    <script src="{% static 'js/requests_ajax.js' %}"></script>
    <script src="{% static 'js/requests_ajax_priority.js' %}"></script>
{% endblock script %}